body{
  margin: 0px;
  padding; 0px;
}

h1{
  font-family: 'Saira Extra Condensed';
  text-align: center;
  font-size: 100px;
  margin: 35px;
}

img {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: fixed;
  top: 65%;
  left: 47%;
  border: 3px solid #004d99;
  font-family: 'Saira Extra Condensed';
  color: #004d99;
  padding: 10px 40px;
  font-size: 30px;
}

button:hover{
  border: 3px solid #cc5200;
  color: white;
  background-color: #004d99;
}
